/* 基础排版 */
:root {
  --base-font-size: 16px;
  --line-height: 1.7;
}

.markdown-section {
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  margin: 0 1rem;
}


.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section ol,
.markdown-section pre,
.markdown-section p,
.markdown-section p,
.markdown-section ul {
  margin: 0.6em 0;
}

.markdown-section pre>code {
  padding: 0.5rem 0;
}

/* 侧栏宽度 */
.sidebar {
  width: 280px;
}

.sidebar > h1 {
  text-align: left;
  padding-left: 0.8em;
}

.sidebar-nav > ul {
  padding-left: 0.8em;
}

/* 内容区最大宽度与间距 */
.content {
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}

.markdown-section pre {
  border-radius: 6px;
}

.markdown-section code {
  border-radius: 4px;
}
